<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="icon" type="image/png" href="static/favicon.ico" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>E-Commercee Application</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
  <script type="text/javascript" src="../static/lib/OWL/owl.js"></script>
  <link rel="stylesheet" href="../static/lib/Bootstrap-5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/components/header/header.css">
  <script src="../static/lib/Bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <script type="module" src="../static/app/app.js"></script>
</body>
</html>